<style>
    .navbar-nav a {
        color: white;
        margin-left: 50px;
    }
    
    .page-footer {
        background-color: #56a24f;
    }
    
    .list-unstyled li {
        color: white;
        cursor: pointer;
    }
    
    .text-uppercase {
        color: white;
    }
    
    .dropdown-menu a {
        color: black;
    }
    
    .dropdown-menu {
        margin-left: 81%;
    }
    
    .dropdown-menu a {
        margin-left: -0px;
    }
    
    .dropdown-menu :hover {
        background-color: #56a24f;
        color: white;
    }
    
    .nav-item a {
        font-size: 18px;
    }
</style>

<nav class="navbar navbar-expand-sm bg- navbar-dark" style="background-color:#56a24f;">
    <a class="navbar-brand" style="color:white">Job Posting</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="fa fa-user-o" [routerLink]="['/home/register']">Singup</a>
            </li>
            <li class="nav-item">
                <a class="fa fa-user-o" [routerLink]="['/home/login']">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li>
                <img class="rounded-circle" [src]="profileImg">
            </li>
            <p> {{this.userData.personalDetails.FirstName}} {{this.userData.personalDetails.LastName}}
            </p>
            <p class="dropdown-toggle" data-toggle="dropdown"></p>
            <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="[('home/userprofile')]">Profile</a>
                <a class="dropdown-item" [routerLink]="[('home')]">Setting</a>
                <a class="dropdown-item" [routerLink]="[('home')]">Logout</a>
            </div>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- id="hav" *ngIf="userData._id == 0"
id="hav" *ngIf="userData._id !== 0" -->