<style>
    .card-header h6 {
        margin-left: 180px;
    }
    
    .card-footer button {
        margin-left: 200px;
    }
</style>
<div class="card col-md-5 offset-3">
    <div class="card-header">
        <h6>Forgot Password</h6>
    </div>
    <form #saveForm="ngForm" (ngSubmit)="save(saveForm,$event)" novalidate>
        <div class="card-body">
            <div class="input-group mt-4">
                <input [type]="isPwd?'password':'text'" class="form-control" id="Password" placeholder="Create New Password" name="Password" ngModel #Password="ngModel" required>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <a href="javascript:void(0)" (click)="isPwd = !isPwd"><i class="fa fa-eye form-control-feedback"></i></a>
                    </span>
                </div>
            </div>
            <small class="text-danger" *ngIf="saveForm.submitted && New.invalid">Create New Password...!</small>
            <!-- <div class="input-group mt-5">
                <input [type]="isPwd?'password':'text'" class="form-control" id="password" placeholder="Confirm New Password" name="New" ngModel #New="ngModel" required>
                <div class="input-group-append">
                    <span class="input-group-text">
                          <a href="javascript:void(0)" (click)="isPwd = !isPwd"><i class="fa fa-eye form-control-feedback"></i></a>
                    </span>
                </div>
            </div>
            <small class="text-danger" *ngIf="saveForm.submitted && Con.invalid">Confirm Password....!</small> -->
        </div>
        <div class="card-footer mt-4">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>